@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);

  p {
    font-size: 4.8rem;
    font-weight: 500;
  }
}
.loader__icon {
  width: 9.6rem;
  height: 9.6rem;
  stroke: var(--color-secondary);
  animation: spinner 1s linear infinite;
}
