.btn {
  grid-column: 1/-1;
  justify-self: end;
  width: 48%;

  font-family: inherit;
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-white);
  background-color: var(--color-secondary);
  padding: 2.4rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:active {
  background-color: var(--color-secondary-light);
}
@media only screen and (max-width: 81.25em) {
  .btn {
    width: 100%;
  }
}
