.subjects {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.subject__item {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  background-color: var(--color-box);
  padding: 2.4rem;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all 0.4s;
}
.subject__item:active {
  transform: translateY(-10%) scale(1.1);
}
