.theme {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.4rem;
}
.theme__icon {
  width: 3.2rem;
  height: 3.2rem;
}

.theme__btn {
  position: relative;
  width: 6.4rem;
  height: 3.2rem;
  border: none;
  border-radius: 23px;
  background-color: var(--color-secondary);
  cursor: pointer;
}
.theme__btn.dark::after {
  transform: translateX(200%);
}
.theme__btn::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 20%;
  left: 0;
  border-radius: 50%;
  background-color: #fff;
  transform: translateX(25%);
  transition: all 0.4s;
  z-index: 2;
}
@media only screen and (max-width: 39em) {
  .theme {
    gap: 1.2rem;
  }
}
