@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --background-color: #f4f6fa;
  --background-pattern: url("./assets/images/pattern-background-desktop-light.svg");

  --color-secondary: #a729f5;
  --color-secondary-light: #d394fa;

  --color-primary: #313e51;
  --color-primary-light: #626c7f;

  --html-bg-color: #fff1e9;
  --css-bg-color: #e0fdef;
  --js-bg-color: #ebf0ff;
  --accessibility-bg-color: #f6e7ff;

  --color-invalid: #ee5454;
  --color-valid: #26d782;

  --color-white: #fff;
  --color-box: #fff;
  --shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.41);
}

.dark {
  --background-color: #313e51;
  --background-pattern: url("./assets/images/pattern-background-desktop-dark.svg");

  --color-secondary: #a729f5;
  --color-secondary-light: #d394fa;

  --color-primary: #fff;
  --color-primary-light: #f4f6fa;

  --color-box: #626c7f;

  --shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.41);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--background-color);
  background-image: var(--background-pattern);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6.4rem 12.8rem;
  color: var(--color-primary);
  font-weight: 400;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 4.8rem;
}
.heading-primary {
  font-weight: inherit;
  font-size: 4.8rem;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: inherit;
  color: var(--color-primary-light);
}
.heading-secondary {
  font-size: 3.2rem;
}
.bold {
  font-weight: 600;
}
.mb-medium {
  margin-bottom: 3.2rem;
}
.mb-large {
  margin-bottom: 6.4rem;
}

/* 600px - 900px */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
  body {
    padding: 6.4rem;
  }
  :root {
    --background-pattern: url("./assets/images/pattern-background-tablet-light.svg");
  }
  .dark {
    --background-pattern: url("./assets/images/pattern-background-tablet-dark.svg");
  }
}

/* 600px*/
@media only screen and (max-width: 39em) {
  html {
    font-size: 50%;
  }
  body {
    padding: 3.2rem;
  }
  .container {
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  }
  .heading-primary {
    font-size: 4rem;
  }
  :root {
    --background-pattern: url("./assets/images/pattern-background-mobile-light.svg");
  }
  .dark {
    --background-pattern: url("./assets/images/pattern-background-mobile-dark.svg");
  }
}
